extends ../layout
include ../mixins/mixins

block content
    main.page-wrapper.page-wrapper--pages
        .container
            h2.h2-common Список страниц
            .page-list
                a(href="index.html" target="_blank") Главная
                a(href="rooms.html" target="_blank") Размещение
                a(href="room.html" target="_blank") Номер
                a(href="treatment-profile.html" target="_blank") Профиль
                a(href="food.html" target="_blank") Питание
                a(href="testimonials.html" target="_blank") Отзывы