extends ../layout
include ../mixins/mixins

block content
    main.page-wrapper.page-wrapper--rooms
        .back_image(style="background-image:url(img/image_3.jpg)")
        .container
            ul.breadcrumbs
                li
                    a(href='/') Главная
                li Размещение
        section.rooms-section
            ._container.container
                h2._title.h2-common Уютные номера с видом на парковую зону санатория
                .rooms
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
        section.includes
            ._container.container
                h2.h2-common В стоимость путёвки входят:
                .info-block
                    ._item
                        ._item-img
                            +picture('inc1','png', 370, 162)
                        ._title Питание
                    ._item
                        ._item-img
                            +picture('inc2','png', 370, 162)
                        ._title Размещение
                    ._item
                        ._item-img
                            +picture('inc3','png', 370, 162)
                        ._title Медицинские услуги,<br />включенные в путёвку
        section.terms
            ._container.container
                h2.h2-common Условия размещения
                ._section
                    p Длительность санаторно-курортного лечения составляет от 14 до 21 дня. на основании #[a(href="#") приказа от 5 мая 2016 г. №279н]. Об утверждении порядка организации санаторно-курортного лечения
                    p Расчетный час #[+icon('clock')] 00:00
                    p Перечень документов, необходимых для размещения в здравнице в соответствии с #[a(href="#") приказом от 5 мая 2016 г. №279н]. Об утверждении порядка организации санаторно-курортного лечения
                ._section
                    p
                        strong Прием и размещение отдыхающих производится только при наличии ниже указанных документов:
                    ol.common-ol
                        li паспорт, санаторно-курортная карта (срок заполнения не ранее 2 мес.), полис медицинского страхования, (в отношении физических лиц);
                        li паспорт, санаторно-курортная карта (срок заполнения не ранее 2 мес.), полис медицинского страхования, доверенность от организации (в отношении юридических лиц);
                        li паспорт, санаторно-курортная карта (срок заполнения не ранее 2 мес.), полис медицинского страхования, ваучер (от туроператоров);
                        li для детей в возрасте от 5 до 12 лет включительно - свидетельство о рождении, страховой полис обязательного медицинского страхования ребенка, «Санаторно-курортная карта для детей и подростков» (срок заполнения не ранее 2 мес.) с указанием перенесенных заболеваний, выполненных профилактических прививках, результатом анализа кала на я/глистов (действителен в течение 2-х недель), результатами анализа на энтеробиоз (действительны в течение 10 дней), заключением врача-дерматолога об отсутствии заразных заболеваний кожи, справка врача-педиатра или врача-эпидемиолога об отсутствии контакта ребенка с инфекционными больными по месту жительства, в детском саду или школе (справка действительна в течение 3-х дней), нотариально заверенное согласие родителей на сопровождение несовершеннолетних детей лицами, не являющимися их официальными опекунами.
                        li
                            strong санаторий имеет право в случае отсутствия санаторно-курортной карты отказать в расселении.



