extends ../layout
include ../mixins/mixins

block content
    main.page-wrapper.page-wrapper--room
        .container
            h1.h1-common.text-center.room-title Двухместный номер Люкс
        section.room-gallery-section
            ._container.container
                ._inner
                    ._left
                        ._description
                            .read-more-wrapper.js-read-more
                                .read-more-container.js-read-more-container
                                    p В двухкомнатном номере категории «Люкс» имеется светлая гостиная и уютная спальня
                                    p Интерьер выполнен в стиле модерн в сочетании с бежевыми и коричневыми оттенками.
                                    p Удобная двуспальная кровать с анатомическим матрасом Удобная двуспальная кровать с анатомическим матрасом
                                    p В двухкомнатном номере категории «Люкс» имеется светлая гостиная и уютная спальня
                                    p Интерьер выполнен в стиле модерн в сочетании с бежевыми и коричневыми оттенками.
                                    p Удобная двуспальная кровать с анатомическим матрасом
                                    p В двухкомнатном номере категории «Люкс» имеется светлая гостиная и уютная спальня
                                    p Интерьер выполнен в стиле модерн в сочетании с бежевыми и коричневыми оттенками.
                                    p Удобная двуспальная кровать с анатомическим матрасом
                            .read-more-toggle.js-read-more-toggle
                                .read-more-toggle-text Подробнее
                        .btns-wrapper
                            a(href="#").btn-rdsgn.btn-rdsgn--blue Забронировать номер
                    ._right
                        include ../components/gallery
        section.price-section
            ._container.container
                h2.h2-common.text-left Стоимость
                ._inner
                    ._left
                        ._wrapper
                            table.price-table
                                thead
                                    tr
                                        th
                                        th Двухместное размещение (одно место)
                                        th Одноместное размещение
                                        th Детская путевка
                                tbody
                                    tr
                                        td 1 к/день
                                        td
                                        td
                                            span.price 9360 #[span.ruble ₽]
                                        td
                                            span.price 5040 #[span.ruble ₽]
                                    tr
                                        td 21 к/день
                                        td
                                        td
                                            span.price 196560 #[span.ruble ₽]
                                        td
                                            span.price 105840 #[span.ruble ₽]
                        ._disclaimer * Детская путевка (до 12 лет включительно) предусматривает размещение совместно с основным получателем путевки в одноместном номере

                    ._right
                        ._additional-info
                            p._checkout-time Расчетный час #[+icon('clock')] 00:00
                            p.pay_way
                                | СПОСОБЫ ОПЛАТЫ
                                img(src='img/card.png')
                                img(src='img/cash.png')
        section.room-features
            ._container.container
                ._items
                    ._item
                        +icon('f1')
                        ._item-text от 1 до 4 человек
                    ._item
                        +icon('f2')
                        ._item-text доступен для людей с ограниченными возможностями здоровья
                    ._item
                        +icon('f3')
                        ._item-text идеальное местоположение для прогулок
                    ._item
                        +icon('f4')
                        ._item-text отличный вид
                    ._item
                        +icon('f5')
                        ._item-text центральная система кондиционирования
                    ._item
                        +icon('f6')
                        ._item-text 79 м2
                    ._item
                        +icon('f7')
                        ._item-text ежедневная уборка номера
                    ._item
                        +icon('f8')
                        ._item-text стабильный Wi-fi на всей территории санатория
                    ._item
                        +icon('f9')
                        ._item-text спутниковое телевидение
                    ._item
                        +icon('f10')
                        ._item-text укомплектованная ванная комната
                    ._item
                        +icon('f11')
                        ._item-text услуги автостоянки
                    ._item
                        +icon('f12')
                        ._item-text сейф
                    ._item
                        +icon('f13')
                        ._item-text телефон в номере
                    ._item
                        +icon('f14')
                        ._item-text швейный набор
                    ._item
                        +icon('f15')
                        ._item-text халат и тапочки
                    ._item
                        +icon('f16')
                        ._item-text письменный набор (ручка и блокнот для записей)
                    ._item
                        +icon('f17')
                        ._item-text набор посуды (чайная пара, фраже, графин) и электрический чайник
                    ._item
                        +icon('f18')
                        ._item-text разовый набор средств личной гигены
        section.includes
            ._container.container
                h2.h2-common В стоимость размещения входят:
                .info-block
                    ._item
                        ._item-img
                            +picture('inc1','png', 370, 162)
                        ._title Питание
                    ._item
                        ._item-img
                            +picture('inc2','png', 370, 162)
                        ._title Размещение
                    ._item
                        ._item-img
                            +picture('inc3','png', 370, 162)
                        ._title Медицинские услуги,<br />включенные в путёвку
        section.terms
            ._container.container
                h2.h2-common Условия размещения
                ._section
                    p Длительность санаторно-курортного лечения составляет от 14 до 21 дня. на основании #[a(href="#") приказа от 5 мая 2016 г. №279н]. Об утверждении порядка организации санаторно-курортного лечения
                    p Расчетный час #[+icon('clock')] 00:00
                    p Перечень документов, необходимых для размещения в здравнице в соответствии с #[a(href="#") приказом от 5 мая 2016 г. №279н]. Об утверждении порядка организации санаторно-курортного лечения
                ._section
                    p
                        strong Прием и размещение отдыхающих производится только при наличии ниже указанных документов:
                    ol.common-ol
                        li паспорт, санаторно-курортная карта (срок заполнения не ранее 2 мес.), полис медицинского страхования, (в отношении физических лиц);
                        li паспорт, санаторно-курортная карта (срок заполнения не ранее 2 мес.), полис медицинского страхования, доверенность от организации (в отношении юридических лиц);
                        li паспорт, санаторно-курортная карта (срок заполнения не ранее 2 мес.), полис медицинского страхования, ваучер (от туроператоров);
                        li для детей в возрасте от 5 до 12 лет включительно - свидетельство о рождении, страховой полис обязательного медицинского страхования ребенка, «Санаторно-курортная карта для детей и подростков» (срок заполнения не ранее 2 мес.) с указанием перенесенных заболеваний, выполненных профилактических прививках, результатом анализа кала на я/глистов (действителен в течение 2-х недель), результатами анализа на энтеробиоз (действительны в течение 10 дней), заключением врача-дерматолога об отсутствии заразных заболеваний кожи, справка врача-педиатра или врача-эпидемиолога об отсутствии контакта ребенка с инфекционными больными по месту жительства, в детском саду или школе (справка действительна в течение 3-х дней), нотариально заверенное согласие родителей на сопровождение несовершеннолетних детей лицами, не являющимися их официальными опекунами.
                        li
                            strong санаторий имеет право в случае отсутствия санаторно-курортной карты отказать в расселении.
        section.faq
            ._container.container
                h2.h2-common.text-center Часто задаваемые вопросы:
                .slide_block
                    a.slide_head(href='#') 2. Расчетный час в санатории – 00:00 часов. Возможно ли досрочное размещение?
                    .slide_text
                        p
                            | Досрочное размещение возможно при наличии свободного номера, при
                            | условии почасовой доплаты.
                .slide_block
                    a.slide_head(href='#') 3. Что входит в стоимость путевки?
                    .slide_text
                        p
                            | В стоимость путевки входят: оплата проживания; оплата лечения        (определенное количество лечебных процедур пропорционально сроку пребывания, назначенных врачом и не противопоказанных пациенту); оплата питания (3-х разовое, диетическое, по заказной системе).
                .slide_block
                    a.slide_head(href='#') 4. Возможно ли размещение в здравнице без санаторно-курортной карты?
                    .slide_text
                        p
                            | Размещение в санатории без санаторно-курортной карты не возможно. Карта является обязательным документом для назначения процедур и оформляется по месту жительства у лечащего врача
                .slide_block
                    a.slide_head(href='#')
                        | 5. Отпускают ли процедуры по субботам и воскресеньям? Возможно ли попасть на прием к врачу при заезде в вечернее время или в выходной день?
                    .slide_text
                        p
                            | По субботам функционирует лечебный корпус. В воскресные дни возможно посещение бассейна, тренажерного зала. В случае заезда в санаторий в вечернее время или в выходной день пациент обязательно будет принят дежурным врачом.
                .slide_block
                    a.slide_head(href='#') 6. Продаются ли путевки в санаторий без лечения?
                    .slide_text
                        p
                            | В стоимость санаторно-курортной путевки входят: проживание, питание и лечение. Санаторий в отличие от гостиницы является медицинским учреждением. Поэтому исключить лечение из комплекса оказываемых в здравнице услуг не представляется возможным.
                .slide_block
                    a.slide_head(href='#')
                        | 7. Оборудована ли в санатории детская комната, где родителям можно оставить ребенка на время прохождения процедур.
                    .slide_text
                        p
                            | В санатории оборудована игровая комната, где родители на время приема лечебных процедур имеют возможность оставить детей под присмотром воспитателя с высшим педагогическим образованием.
                .slide_block
                    a.slide_head(href='#')
                        | 8. Доступ к Wi-Fi в номерах и на территории санатория осуществляется на платной основе?
                    .slide_text
                        p Доступ к Wi-Fi на территории санатория – бесплатный.
                .slide_block
                    a.slide_head(href='#')
                        | 9. Можно ли рассчитывать на наличие в номерах фена, халата, тапочек, средств личной гигиены?
                    .slide_text
                        p
                            | В каждом номере здравницы к услугам отдыхающих – фен, халат, тапочки. При заезде в номер разово выдются средства личной гигиены (шампунь, мыло, гель для душа), которые впоследствии можно приобрести в киосках, расположенных на территории учреждения.
                .slide_block
                    a.slide_head(href='#')
                        | 10. Имеется ли на территории санатория охраняемая стоянка для автомобилей? Услуга платная?
                    .slide_text
                        p
                            | На территории имеется платная автостоянка. Стоимость оказываемой услуги – 125 рублей в сутки.
                .slide_block
                    a.slide_head(href='#') 11. Есть ли возможность во время пребывания в санатории пользоваться утюгом?
                    .slide_text
                        p
                            | К услугам отдыхающих – постирочная, где согласно заявке будет произведена стирка и глажка белья. Кроме того, на каждом этаже спального корпуса оборудована комната для глажения, оснащенная гладильной доской и утюгом.


