extends ../layout
include ../mixins/mixins

block content
    main.page-wrapper.page-wrapper--testimonials
        .page-topper
            .container
                h1.h1-common.text-center Отзывы о санатории
                .btns-wrapper.-center.-mobile-center
                    button.btn-rdsgn.-blue.-medium.js-open-modal(data-modal="modal-testimonials") Оставить свой отзыв
        .testimonials-wrapper
            ._container.container
                ._items
                    .testimonials-item
                        ._body
                            ._info
                                ._date 13/07/2021
                                ._name Волкова Галина Валентиновна
                                ._duration Гость санатория <br> с 24 июня 2021 по 7 июля 2021
                            ._content
                                ._text
                                    .read-more-wrapper.js-read-more
                                        .read-more-container.js-read-more-container
                                            p Добрый день! Хотела бы оставить отзыв о своем пребывании в санатории "Заря". Отдыхала я там впервые и мне  очень понравилось. Достойные номера, ежедневная уборка, в большинстве приветливый персонал, невероятно красивый вид из окна. очень удобное расположение спальной и медицинской части, переход в помещении, на улицу выходить не нужно. Питание обычное, для тех кто любит что-то эдакое не то, не шведский стол. Простые блюда, но есть возможность выбора (заказ по меню). Грот с минеральной водой прямо на территории санатория. Отдельно хочу поблагодарить Павлову Людмилу Викторовну. Она профессионал с большой буквы. Попала к ней на консультацию и очень благодарна этому случаю. Спасибо вам огромное! Вы мне очень помогли! Еще хочу отметить Ирину (фамилию не знаю, к сожалению), которая проводит подводный массаж. Очень внимательная и тактичная! Процедур в путевку входило немного, но качество их оказания на высоте. Обязательно вернусь снова в "Зарю".
                                            p Добрый день! Хотела бы оставить отзыв о своем пребывании в санатории "Заря". Отдыхала я там впервые и мне  очень понравилось. Достойные номера, ежедневная уборка, в большинстве приветливый персонал, невероятно красивый вид из окна. очень удобное расположение спальной и медицинской части, переход в помещении, на улицу выходить не нужно. Питание обычное, для тех кто любит что-то эдакое не то, не шведский стол. Простые блюда, но есть возможность выбора (заказ по меню). Грот с минеральной водой прямо на территории санатория. Отдельно хочу поблагодарить Павлову Людмилу Викторовну. Она профессионал с большой буквы. Попала к ней на консультацию и очень благодарна этому случаю. Спасибо вам огромное! Вы мне очень помогли! Еще хочу отметить Ирину (фамилию не знаю, к сожалению), которая проводит подводный массаж. Очень внимательная и тактичная! Процедур в путевку входило немного, но качество их оказания на высоте. Обязательно вернусь снова в "Зарю".
                                    .read-more-toggle.js-read-more-toggle
                                        .read-more-toggle-text Читать далее
                                ._box
                                    ._images
                                        +pictureFancybox('testimonials1', 'png', 100, 62, 'testimonial-gal-1')
                                        +pictureFancybox('testimonials2', 'png', 100, 62, 'testimonial-gal-1')
                                        +pictureFancybox('testimonials3', 'png', 100, 62, 'testimonial-gal-1')
                                    ._links
                                        a(href="#")._link Все фотографии
                                        a(href="#")._link Видео-отзыв
                        ._answer
                            ._answer-content
                                ._answer-text
                                    p Уважаемая Галина Валентиновна, Ваше обращение от 02.08.2021 мы будем считать Вашим письменным согласием на публикацию Вашего отзыва на официальном сайте ФГБУ «Санаторий «Заря». Право публикации ответа оставляем за собой.
                                    p В стоимость ваучера входит проживание в 1-местном номере 5900 руб. в сутки, питание-1300 руб. в сутки, лечение-2160 руб. в сутки.
                                    p На лечение затраты составили 30240 руб. Вам оказано медицинских услуг на сумму 37327 руб. Процедуры назначаются врачом с учетом показаний и противопоказаний к санаторно-курортному лечению.
                                    p В связи с вышеизложенным не представлялось возможности и целесообразности замены процедур. АДМИНИСТРАЦИЯ
                                ._answer-subtitle Ответ администрации
                    .testimonials-item
                        ._body
                            ._info
                                ._date 13/07/2021
                                ._name Волкова Галина Валентиновна
                                ._duration Гость санатория <br> с 24 июня 2021 по 7 июля 2021
                            ._content
                                ._text
                                    .read-more-wrapper.js-read-more
                                        .read-more-container.js-read-more-container
                                            p Добрый день! Хотела бы оставить отзыв о своем пребывании в санатории "Заря". Отдыхала я там впервые и мне  очень понравилось. Достойные номера, ежедневная уборка, в большинстве приветливый персонал, невероятно красивый вид из окна. очень удобное расположение спальной и медицинской части, переход в помещении, на улицу выходить не нужно. Питание обычное, для тех кто любит что-то эдакое не то, не шведский стол. Простые блюда, но есть возможность выбора (заказ по меню). Грот с минеральной водой прямо на территории санатория. Отдельно хочу поблагодарить Павлову Людмилу Викторовну. Она профессионал с большой буквы. Попала к ней на консультацию и очень благодарна этому случаю. Спасибо вам огромное! Вы мне очень помогли! Еще хочу отметить Ирину (фамилию не знаю, к сожалению), которая проводит подводный массаж. Очень внимательная и тактичная! Процедур в путевку входило немного, но качество их оказания на высоте. Обязательно вернусь снова в "Зарю".
                                            p Добрый день! Хотела бы оставить отзыв о своем пребывании в санатории "Заря". Отдыхала я там впервые и мне  очень понравилось. Достойные номера, ежедневная уборка, в большинстве приветливый персонал, невероятно красивый вид из окна. очень удобное расположение спальной и медицинской части, переход в помещении, на улицу выходить не нужно. Питание обычное, для тех кто любит что-то эдакое не то, не шведский стол. Простые блюда, но есть возможность выбора (заказ по меню). Грот с минеральной водой прямо на территории санатория. Отдельно хочу поблагодарить Павлову Людмилу Викторовну. Она профессионал с большой буквы. Попала к ней на консультацию и очень благодарна этому случаю. Спасибо вам огромное! Вы мне очень помогли! Еще хочу отметить Ирину (фамилию не знаю, к сожалению), которая проводит подводный массаж. Очень внимательная и тактичная! Процедур в путевку входило немного, но качество их оказания на высоте. Обязательно вернусь снова в "Зарю".
                                    .read-more-toggle.js-read-more-toggle
                                        .read-more-toggle-text Читать далее
                                ._box
                                    ._images
                                        +pictureFancybox('testimonials1', 'png', 100, 62, 'testimonial-gal-1')
                                        +pictureFancybox('testimonials2', 'png', 100, 62, 'testimonial-gal-1')
                                        +pictureFancybox('testimonials3', 'png', 100, 62, 'testimonial-gal-1')
                                    ._links
                                        a(href="#")._link Все фотографии
                                        a(href="#")._link Видео-отзыв
                        ._answer
                            ._answer-content
                                ._answer-text
                                    p Уважаемая Галина Валентиновна, Ваше обращение от 02.08.2021 мы будем считать Вашим письменным согласием на публикацию Вашего отзыва на официальном сайте ФГБУ «Санаторий «Заря». Право публикации ответа оставляем за собой.
                                    p В стоимость ваучера входит проживание в 1-местном номере 5900 руб. в сутки, питание-1300 руб. в сутки, лечение-2160 руб. в сутки.
                                    p На лечение затраты составили 30240 руб. Вам оказано медицинских услуг на сумму 37327 руб. Процедуры назначаются врачом с учетом показаний и противопоказаний к санаторно-курортному лечению.
                                    p В связи с вышеизложенным не представлялось возможности и целесообразности замены процедур. АДМИНИСТРАЦИЯ
                                ._answer-subtitle Ответ администрации
                .btns-wrapper.-center.-mobile-center
                    button.btn-rdsgn.-blue.-medium Показать еще
                .pagination-rdsgn
                    a(href="#")._item Назад
                    a(href="#")._item 1
                    a(href="#")._item.active 2
                    a(href="#")._item 3
                    a(href="#")._item 4
                    a(href="#")._item Вперед
        .pages-links
            ._container.container
                ._items
                    a(href="#")._item
                        ._img
                            +picture('pl1', 'png', 300, 300)
                        ._title Галереи
                    a(href="#")._item
                        ._img
                            +picture('pl2', 'png', 300, 300)
                        ._title Размещение
block append modals
    include ../components/modal-testimonials


