extends ../layout
include ../mixins/mixins

block content
    main.page-wrapper.page-wrapper--treatment-profile
        .sidebar-layout-wrapper
            aside.sidebar
                nav._nav-menu
                    a(href="#")._nav-menu-item Диагностическая база
                    a(href="#")._nav-menu-item.current Лечебная база
                    a(href="#")._nav-menu-item 2020. Новые методы лечения
                    a(href="#")._nav-menu-item Медицинские услуги
                    a(href="#")._nav-menu-item SPA - услуги и косметология
                    a(href="#")._nav-menu-item Врачи
                    a(href="#")._nav-menu-item Показания для санаторно-курортного лечения
                    a(href="#")._nav-menu-item Противопоказания
            .content-wrapper
                h1.h1-common Лечение ишемической болезни сердца в санатории "Заря"
                .typography
                    p Возраст, несбалансированное питание, вредные привычки, загрязненность окружающей среды - эти факторы приводят к нарушению кровоснабжения миокарда и развитию ИБС.
                    p Чтобы остановить развитие патологии и снизить риск внезапной смерти, необходимо  изменить образ жизни. Без помощи специалистов сделать это крайне сложно, поэтому лучше доверить свое здоровье профессионалам и выбрать не самостоятельное, а санаторно курортное лечение ИБС и сопутствующих патологий.
                    h2.h2 Показания
                    p Возраст, несбалансированное питание, вредные привычки, загрязненность окружающей среды - эти факторы приводят к нарушению кровоснабжения миокарда и развитию ИБС.
                    p Чтобы остановить развитие патологии и снизить риск внезапной смерти, необходимо  изменить образ жизни. Без помощи специалистов сделать это крайне сложно, поэтому лучше доверить свое здоровье профессионалам и выбрать не самостоятельное, а санаторно курортное лечение ИБС и сопутствующих патологий.
                    h2.h2 Противопоказания
                    p Возраст, несбалансированное питание, вредные привычки, загрязненность окружающей среды - эти факторы приводят к нарушению кровоснабжения миокарда и развитию ИБС.
                    p Чтобы остановить развитие патологии и снизить риск внезапной смерти, необходимо  изменить образ жизни. Без помощи специалистов сделать это крайне сложно, поэтому лучше доверить свое здоровье профессионалам и выбрать не самостоятельное, а санаторно курортное лечение ИБС и сопутствующих патологий.
                    h2.h2 Обследования, входящие в комплекс лечения:
                    p В комплекс мероприятий, проводимых врачами санатория, включается:
                    ul
                        li ЭКГ;
                        li УЗИ сердца и сосудов;
                        li анализы крови (общий и биохимический);
                        li оценка класса функциональной нагрузки;
                        li эхокардиография;
                        li велоэргометрия (ВЭМ) или тредмилл-тест;
                        li прочее.
                    p Обследования назначаются в индивидуальном порядке после осмотра кардиологом.
                    h2.h2 Медицинские услуги, включенные в стоимость путевки:
                    .table-wrapper
                        table
                            thead
                                tr
                                    th Услуги
                                    th 14 дней
                                    th 21 день
                            tbody
                                tr
                                    td Первичный прием терапевта
                                    td 1
                                    td 1
                                tr
                                    td Динамическое наблюдение (повторный прием терапевта)
                                    td 4
                                    td 4
                                tr
                                    td Клинические исследования:
                                    td
                                    td
                                tr
                                    td Исследование клинического анализа крови
                                    td по показаниям
                                    td по показаниям
                                tr
                                    td Исследование общего анализа мочи
                                    td по показаниям
                                    td по показаниям
                                tr
                                    td Электрокардиография (ЭКГ)
                                    td 1*
                                    td 1*
                                tr
                                    td Рентгенография (кроме маммографии)
                                    td **
                                    td **
                                tr
                                    td Ректороманоскопия
                                    td 1**
                                    td 1**
                                tr
                                    td Кольпоскопия
                                    td 1**
                                    td 1**
                    h2.h2 Какие задачи решает лечение в санатории:
                    ul
                        li Нормализация питания. Специализированный диетический рацион направлен на снижение уровня вредного холестерина, отказ от жиров и легкоусвояемых углеводов.
                        li Снижение уровня стресса. На территории санатория размещено большое количество релакс-зон, помогающих забыть о суете и улучшить психологическое состояние.
                        li Избавление от сопутствующих заболеваний. Чаще всего ишемия развивается у людей с диабетом, нарушениями обмена веществ, проблемами с щитовидной железой. Мощная диагностическая и лечебная база позволяют подобрать адекватное лечение в самые короткие сроки.
                        li Отказ от вредных привычек.
                        li Борьба с гиподинамией. Санаторий предоставляет широкие возможности для занятий разными видами спорта («скандинавская» ходьба, залы для общих и кардиотренировок, открытые спортивные площадки и пр.).
                        li Отличный восстановительный эффект дают естественные и искусственные ванны, массаж, плавание в бассейне, прогулки на свежем воздухе, лечебная физкультура.
                    p При отсутствии выраженных противопоказаний применяется детально проработанная программа лечебно-оздоровительных мероприятий при ИБС.
                    p Для тех, кого интересует индивидуальное лечение ибс в санатории, сообщаем: комплекс мероприятий оздоровительного характера подбирается с учетом общих рекомендаций Минздрава РФ, но обязательно учитывается возраст пациента, анамнез, особенности текущего состояния и прочее.
                    h2.h2 Ожидаемый эффект от лечения:
                    p После прохождения курса лечения в санатории удается достичь значительного улучшения состояния. Пациенту прививаются правильные привычки, придерживаясь которых, у него есть все шансы забыть об ишемии.
                    p Поскольку климат Кисловодска отличается мягкостью, лечебно-оздоровительные мероприятия имеют высокую эффективность в любое время года.
                    p Для снижения факторов риска по ишемии сердца, санаторий рекомендуется посещать не реже одного раза в 12 месяцев.
                    .btns-wrapper.btns-wrapper--center.-mobile-center.mt-6
                        a(href="#").btn-rdsgn.-blue Забронировать
        section.rooms-section
            ._container.container
                h2._title.h2-common Размещение
                .rooms
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                    ._item
                        ._item-slider.js-item-img-slider
                            .swiper-pagination
                            ._item-slider-wrapper.swiper-wrapper
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                                ._item-slide.swiper-slide
                                    +picture('rooms1', 'png', 370, 221)
                        ._item-content
                            ._item-title Одноместный номер
                            ._item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            ._item-icons
                                +icon('rooms1')
                                +icon('rooms2')
                                +icon('rooms3')
                            ._item-bottom
                                ._item-price от 3500 руб./сутки
                                a(href="#")._item-btn Смотреть номер
                .btns-wrapper.btns-wrapper--center
                    a(href="#").btn-rdsgn.btn-rdsgn--medium.btn-rdsgn--blue Все номера
        section.services
            ._container.container
                ._items
                    a(href="#")._item
                        ._img
                            +picture('services1', 'png', 370, 242)
                        ._content Досуг
                    a(href="#")._item
                        ._img
                            +picture('services2', 'png', 370, 242)
                        ._content Бассейн
                    a(href="#")._item
                        ._img
                            +picture('services3', 'png', 370, 242)
                        ._content Спа






