.tab-content.gallery
    #foto.tab-pane.active
        #gallery(style='display:none;')
            img(src='https://www.sanzarya.ru/getimg/214/130/fill/content/gallery/e321e1c61a4361398c98e1e87ef40690.jpg' alt='Одноместный номер санатория «Заря» (Кисловодск)' data-image='img/e321e1c61a4361398c98e1e87ef40690.jpg')
            img(src='https://www.sanzarya.ru/getimg/214/130/fill/content/gallery/677a28493734d2117c091e2735f82acc.jpg' alt='Одноместный номер санатория «Заря» (Кисловодск)' data-image='img/677a28493734d2117c091e2735f82acc.jpg')
            img(src='https://www.sanzarya.ru/getimg/214/130/fill/content/gallery/4a2badec357ae8636d09c180aa323df0.jpg' alt='Одноместный номер санатория «Заря» (Кисловодск)' data-image='img/4a2badec357ae8636d09c180aa323df0.jpg')
            img(src='https://www.sanzarya.ru/getimg/214/130/fill/content/gallery/527a9415df2cdb742b26fc526a40ba2a.jpg' alt='Одноместный номер санатория «Заря» (Кисловодск)' data-image='img/527a9415df2cdb742b26fc526a40ba2a.jpg')
            img(src='https://www.sanzarya.ru/getimg/214/130/fill/content/gallery/7b181cd4b44a16489feb156bb043c0c0.jpg' alt='Одноместный номер санатория «Заря» (Кисловодск)' data-image='img/7b181cd4b44a16489feb156bb043c0c0.jpg')
