.header-disclaimer.visible.js-disclaimer
    ._inner
        .close-cross.js-disclaimer-close
            +icon('close')
        a(href="#")._text Дарите здоровье и красоту! Подарочные наборы натуральной косметики от 550&nbsp;₽
