.modal__close-cross.js-close-modal
    img(src='img/close.svg' alt='close')
#modal-map.modal-map
    .complex-map__zoom-btn.hidden-desctop Потяните для увеличения карты
    .inter-map-inner
        .inter-map.inter-map-show
            figure.inter-map__pic
                img(src='img/inter-map.jpg' alt='')
            .map-point.map-point--1
                a.map-point__marker.map-point__marker--blue(href='room/')
                .map-point__inner
                    h4.map-point__title Спальный корпус
                    .map-point__text 7-этажное здание на 214 номеров. Вместимость 340 отдыхающих
                    a.map-point__link(href='room/') Подробнее
            .map-point.map-point--2
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Блок-Люкс
                    .map-point__text 3-х комнатные 2-х местные апартаменты
            .map-point.map-point--3
                a.map-point__marker.map-point__marker--blue(href='treatment/')
                .map-point__inner
                    h4.map-point__title Лечебный корпус
                    .map-point__text Более 180 процедур по 10 профильным направлениям курортного лечения
                    a.map-point__link(href='treatment/') Подробнее
            .map-point.map-point--4
                a.map-point__marker.map-point__marker--blue(href='food/')
                .map-point__inner
                    h4.map-point__title Рестораны и бары
                    .map-point__text Здесь Вас ждет высочайший сервис, отличное качество приготавливаемых блюд
                    a.map-point__link(href='food/') Подробнее
            .map-point.map-point--5
                a.map-point__marker.map-point__marker--blue(href='about/gallery/#fotos_2-1')
                .map-point__inner
                    h4.map-point__title Лобби-бар
                    .map-point__text Приятный отдых за чашечкой кофе
                    a.map-point__link(href='about/gallery/#fotos_2-1') Подробнее
            .map-point.map-point--6
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/cinema_room/')
                .map-point__inner
                    h4.map-point__title Киноконцертный зал
                    .map-point__text Просторный зал на 300 мест с системой объемного звучания Dolby Digital 5.1
                    a.map-point__link(href='leisure_and_service/cinema_room/') Подробнее
            .map-point.map-point--7
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/pool/')
                .map-point__inner
                    h4.map-point__title Бассейн
                    .map-point__text Крытый бассейн площадью 375 кв.м., протяженностью 25 метров с каскадными душами
                    a.map-point__link(href='leisure_and_service/pool/') Подробнее
            .map-point.map-point--8
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/sporthall/')
                .map-point__inner
                    h4.map-point__title Спортивный зал
                    .map-point__text
                        | 500 кв. м. для занятий лечебной физкультурой, гимнастикой и проведения утренней зарядки, а также игры в волейбол, баскетбол и большой теннис
                    a.map-point__link(href='leisure_and_service/sporthall/') Подробнее
            .map-point.map-point--9
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/sporthall/')
                .map-point__inner
                    h4.map-point__title Площадка для минифутбола и волейбола
                    .map-point__text Оборудована искусственным покрытием и минитрибуной
                    a.map-point__link(href='leisure_and_service/sporthall/') Подробнее
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=31' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--10
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/sports_grounds/')
                .map-point__inner
                    h4.map-point__title Теннисный корт
                    .map-point__text Оборудован раздевалкой и душевыми кабинами
                    a.map-point__link(href='leisure_and_service/sports_grounds/') Подробнее
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=30' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--11
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/sports_grounds/')
                .map-point__inner
                    h4.map-point__title Баскетбольная площадка
                    a.map-point__link(href='leisure_and_service/sports_grounds/') Подробнее
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=29' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--12
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/sports_grounds/')
                .map-point__inner
                    h4.map-point__title Теннисный корт
                    a.map-point__link(href='leisure_and_service/sports_grounds/') Подробнее
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=28' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--13
                a.map-point__marker.map-point__marker--blue(href='leisure_and_service/sports_grounds/')
                .map-point__inner
                    h4.map-point__title Детская, спортивная площадка
                    .map-point__text На открытом воздухе, оборудована тренажерами
                    a.map-point__link(href='leisure_and_service/sports_grounds/') Подробнее
            .map-point.map-point--14
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Цветочная клумба
                    .map-point__text Оборудована качелями для приятного отдыха
            .map-point.map-point--15
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Цветочная клумба
            .map-point.map-point--16
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Автостоянка
                    .map-point__text Охраняемая территория с автомобильной парковкой для отдыхающих
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=25' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--17
                a.map-point__marker.map-point__marker--blue(href='about/territoriya_/')
                .map-point__inner
                    h4.map-point__title Фонтан
                    .map-point__text Главный фонтан у центрального входа в санаторий
                    a.map-point__link(href='about/territoriya_/') Подробнее
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=36' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--18
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Фонтан
                    .map-point__text Каскадный фонтан
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=38' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--19
                a.map-point__marker.map-point__marker--blue(href='about/gallery/#fotos_8-1')
                .map-point__inner
                    h4.map-point__title Пруд
                    .map-point__text
                        | Искусственный пруд с японскими карпами Кои. Оборудован качелями для приятного отдыха
                    a.map-point__link(href='about/gallery/#fotos_8-1') Подробнее
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=27' data-type='iframe' href='javascript:;') 3D-тур
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=35' data-type='iframe' href='javascript:;') 3D-тур (вид сверху)
            .map-point.map-point--20
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
                    .map-point__text Искусственное сооружение, стилизованное под домик
            .map-point.map-point--21
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
            .map-point.map-point--22
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
            .map-point.map-point--23
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
            .map-point.map-point--24
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
            .map-point.map-point--25
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
            .map-point.map-point--26
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
            .map-point.map-point--27
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Беседка
            .map-point.map-point--28
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Площадка отдыха
            .map-point.map-point--29
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Туалет
            .map-point.map-point--30
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title КПП
                    .map-point__text Центральный пост охраны
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=32' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--31
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title КПП
                    .map-point__text Нижний пост охраны
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=25' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--32
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Верхний пост охраны
            .map-point.map-point--33
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Цветочная клумба с розами
            .map-point.map-point--34
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Дворик
                    .map-point__text Внутренний дворик санатория
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=33' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--35
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Санаторный парк
                    // div class="map-point__text">Панорама санаторного парка</div
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=34' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--36
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Обзорная панорама санатория
                    // div class="map-point__text">Панорама санаторного парка</div
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=36' data-type='iframe' href='javascript:;') 3D-тур
            .map-point.map-point--37
                span.map-point__marker.map-point__marker--blue
                .map-point__inner
                    h4.map-point__title Гольф-поле
                    // div class="map-point__text">Панорама санаторного парка</div
                    a.map-point__link(data-fancybox='' data-src='https://www.sanzarya.ru/new_tour/tour/tour.html?startscene=39' data-type='iframe' href='javascript:;') 3D-тур
